android/build/
build/
build_*/
.gradle/
ios/build/
android/.cxx/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
test_filter_graph
test_execute_stability_repro
test_lifecycle
test_headless_ssim
test_timeline
test_decoder_pool
test_track_behavior
test_rebuild_harden
test_timeline_node_harden
test_exporter_logic
libvideo_sdk_core.a
